/*---------------------------------------------------*/
/* Default Settings */
:root {
    --MemberList-Away: 60px;
    --MemberList-Show: 250px;
    --MemberList-Away-Time: 0.5s;

    --ChannelList-Away: 60px;
    --ChannelList-Show: 240px;
    --ChannelList-Away-Time: 0.5s;
}


/*---------------------------------------------------*/

/* Member List Sizing */
.container_b2ce9c {
    width: var(--MemberList-Away);
    transition: width var(--MemberList-Away-Time) ease;
}
.container_b2ce9c:hover {
    width: var(--MemberList-Show);
}

/*---------------------------------------------------*/

/* Channel List */
.sidebar_ded4b5 {
    width: var(--ChannelList-Away);
    transition: width var(--ChannelList-Away-Time) ease;
}
.sidebar_ded4b5:hover {
    width: var(--ChannelList-Show);
}

/*---------------------------------------------------*/
